$color-silver:  #EEE;
$color-whiteSmoke: white;
$color-white: #fff;
$color-lynch: #6C7A89;
$color-black: #444;
$color-orange: #e86a1a;

$color-light-red: #f05f5c;
$color-light-green: #aab971;
$color-light-yellow: #fed484;
$color-light-blue: #5e98a3;


$color-background: rgba(0,0,0,.3);
$color-shadow: rgba(0,0,0,.4);

$highlight-font: 'Roboto', sans-serif;

$highlight-font-regular: 400;
$highlight-font-bold: 700;

$base-font: 'Roboto', sans-serif;
$base-font-size: 14px;


$base-font-light: 400;
$base-font-regular: 400;
$base-font-bold: 700;

$break-small: 770px;
$break-large: 1200px;

$path-assets-images : "/assets/images";
$path-assets-images-icons : "/assets/images/icons";
$path-assets-images-icons-menu : "/assets/images/icons/menu";
